

.pie {
    background-color: #17917d;
    margin: auto;
    padding: 15px;
   

}

.socialMedia {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
   
   
}

.child {
    flex-grow: 1;
    width: 100px;
    height: 100px;
    align-content: center;
    
}

.info {
    text-align: center;
}

.copyrigth {
    text-align: center;
}
